body{

margin:0;
background:#111b21;
font-family:Arial;
color:white;

}


.top{

background:#202c33;
padding:15px;

}


#messages{

height:80vh;
padding:15px;
overflow:auto;

}


.msg{

background:#005c4b;
padding:10px;
border-radius:8px;
margin:8px;
max-width:60%;

}


.send{

display:flex;
padding:10px;

}


input{

flex:1;
padding:15px;

}


button{

background:#25D366;
border:none;
padding:15px;

}
